body {
    background-color: dimgray;
    background-image: url("gafwest-bar.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.gaf-logo {
    height: 60px;
}